/* Variables globales */
:root {
  --primary-color: #036afb;
  --secondary-color: #06544f;
  --background-color: #f0f8ff;
  --text-color: #333;
  --button-hover-color: #9aecf4;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Estilos generales para el cuerpo del documento */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* Estilos generales para el encabezado */
header {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 1em 0;
}

/* Estilos específicos para los encabezados de las páginas de registro e índice */
header.header-register,
header.header-index {
  background-size: cover;
  background-position: 30% 45%;
  background-repeat: no-repeat;
  color: white;
  padding: 2em 0;
}

/* Estilos de disposición para las secciones de encabezado */
.header-index, .header-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-index nav, .header-services nav {
  margin-top: 20px;
}

/* Estilos para los enlaces de navegación */
.header-index nav a, .header-services nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
}

/* Estilos para el logo en el encabezado */
header .logo {
  position: absolute;
  left: 50px;
  top: 20px;
  width: 200px;
  height: auto;
}

/* Estilos para los enlaces de navegación global */
nav a {
  margin: 0 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Estilos generales para el contenido principal */
main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el formulario de registro */
form {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 5px var(--shadow-color);
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input,
form select,
form button {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

form button:hover {
  background-color: var(--button-hover-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para la lista de mascotas */
#petList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

/* Estilos para las tarjetas de mascotas */
.pet-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 5px var(--shadow-color);
}

.pet-card h3 {
  margin-top: 0;
}

.pet-card p {
  margin: 5px 0;
}

.pet-card button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.pet-card .edit-btn {
  background-color: #4caf50;
  color: white;
}

.pet-card .delete-btn {
  background-color: #f44336;
  color: white;
}

.pet-card .edit-btn:hover {
  background-color: #45a049;
}

.pet-card .delete-btn:hover {
  background-color: #e53935;
}

/* Estilos para la ventana modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para el contenedor de tipos de mascotas */
#petTypes {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

/* Estilos para cada tipo de mascota */
.pet-type {
  text-align: center;
}

.pet-type img {
  width: 80px;
  height: 80px;
}

.pet-type span {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

/* Estilo para la imagen principal de la página */
.hero-image {
  text-align: center;
  margin-top: 50px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Estilo de la sección de información */
.info {
  padding: 50px 20px;
  text-align: center;
  background-color: #f4f4f4;
}

.info h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.info p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}

/* Animación para las estadísticas */
.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
  animation: statAnimation 2s ease-in-out infinite;
}

.stat-icon {
  font-size: 60px;
  margin-bottom: 10px;
}

.stat-value {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.stat-label {
  font-size: 18px;
  color: #666;
}

@keyframes statAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Footer */
.custom-footer {
  background-color: #eaf3fc; /* Fondo azul claro */
  padding: 40px 0;
  color: #333; /* Texto gris oscuro */
  margin-top: 250px;
}

.custom-footer .footer-logo {
  max-width: 150px;
  margin-bottom: 15px;
}

.custom-footer h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

.custom-footer .footer-links {
  list-style: none;
  padding: 0;
}

.custom-footer .footer-links li {
  margin-bottom: 10px;
}

.custom-footer .footer-links a {
  text-decoration: none;
  color: #333;
}

.custom-footer .footer-links a:hover {
  text-decoration: underline;
  color: #007bff; /* Azul para hover */
}

.custom-footer .location-img {
  max-width: 100%;
  border-radius: 10px; /* Bordes redondeados */
}



/* STYLS FOR IMG CIRCLE */

.circular-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}

.circular-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}